{% extends 'base.html' %}

{% block body %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check" viewBox="0 0 16 16">
        <title>Check</title>
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
    </symbol>
</svg>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <p class="fs-10">
    <div class="fs-10"><b>HandCraft</b></div>
    <sector class="fs-smaller"> - это творческая
        студия из Санкт-Петербурга по производству эксклюзивной атрибутики по всеми любимой игре-песочнице - Minecraft
    </sector>
    <hr>
    <p class="fs-medium">Колпино, Санкт-Петербург</p></p>
    <br>
    <img src="https://images-na.ssl-images-amazon.com/images/I/61N6IyR9xpL._AC_SL1500_.jpg" class="img-fluid" alt="Responsive image">
</div>
{% endblock %}